.banner {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url("https://images.unsplash.com/photo-1498050108023-c5249f4df085");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;
}

.banner h1 {
  font-size: 42px;
}

.banner p {
  font-size: 20px;
  opacity: 0.9;
  margin: 16px 0 24px 0;
}
